/* App.css */

.app {
  display: flex;
  padding: 0;
  margin: 0;
}

.sidebar-active {
  width: 200px; /* Adjust the width as per your requirements */
  background-color: #f0f0f0;
  height: 100vh;
}
.sidebar-inactive {
  width: -200px;
  background-color: #f0f0f0;
  height: 100vh;
}

.window-body {
  flex: 1;
  background-color: #ffffff;
}
